
$color_font_default:#333333;
$color_back_default:#f0f0f0;
$color_back_error:#ffeeee;
$color_back_pholder:#aaaaaa;
$color_back_mask:rgba(0,0,0,0.5);
$color_border_default:#cccccc;
$color_border_error:#cc0000;
$color_active_default:#1188dd;
$size_padding_default:0.25em;
$size_height_default:1.5em;
$size_font_small:80%;
$size_border_default:0.1em;
$size_scrollbar_default:0.25em;
$opacity_hover_default:0.8;
$opacity_disable_default:0.5;
